body {
  color: rgb(223,223,223);
  font-family: sans-serif;
  background-color: rgb( 47, 45, 47);
  max-width: 1200px;
  margin: auto;
}

#headerImage{
  width: 100%;
  height: auto;
}

#navIcon{
  position: absolute;
  right: 5%;
  cursor: pointer;
  font-size: 72px;
}

#footerText{
  text-align: center;
  margin-top: 6%;
}

header{
  width: 100%;
  margin: auto;
}

.cvDiv{
  margin-bottom: -1%;

}

main{
  position: relative;
  top: -50px;
}

.cvHeadingsPurple{
  margin-block-end: .2em;
  position: relative;
  top: 40px;
  left: 1px;
  color: rgb(151, 20, 151);
}

.cvHeadingsYellow{
  margin-block-end: .2em;
  position: relative;
  z-index: -1;
  color: rgb(254, 204, 47);
}

.cvTables{
  text-align: left;
  vertical-align: top;
}

.cvYears{
  text-align: left;
  vertical-align: top;
  width: 80px;
}

a:link {
  text-decoration: none;
  color: rgb(254, 204, 47);
}

a:visited {
  text-decoration: none;
  color: rgb(254, 204, 47);
}

a:hover {
  text-decoration: underline;
  color: rgb(151, 20, 151);
}

a:active {
  text-decoration: underline;
  color: rgb(223,223,223);
}

.purpleh2{
  position: relative;
  top: 47px;
  left: 1px;
  color: rgb(151, 20, 151);
}

.yellowh2{
  position: relative;
  z-index: -1;
  color: rgb(254, 204, 47);
}

.purpleh1{
  position: relative;
  left: 2px;
  color: rgb(151, 20, 151);
}

.yellowh1{
  position: relative;
  top: -57px;
  z-index: -1;
  color: rgb(254, 204, 47);
}

#profTitle{
  position: relative;
  top: -57px;
}






/* styles for menu */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }





/* styles for slideshow gallery */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/*Super Simple CSS Gallery */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
