body {
  color: rgb(223,223,223);
  font-family: sans-serif;
  background-color: rgb( 47, 45, 47);
  max-width: 1200px;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

.workLabels{
  text-align: center;
}

#headerImage{
  width: 100%;
  height: auto;
}

#navIcon{
  position: absolute;
  right: 5%;
  cursor: pointer;
  font-size: 1.5em;
}

#footerText{
  text-align: center;
  margin: 3% 0;
}

header{
  width: 100%;
  margin: auto;
  padding: 0 2%;
}


main{
  padding: 0 2%;
  margin-top: 6%;
}

footer{
  margin-top: 6%;
  border-top: solid 1px;
}

.cvHeadingsPurple{
  margin-block-end: .5em;
  color: rgb(151, 20, 151);
  text-shadow: -.0624em .0624em 0 rgb(254, 204, 47);
  letter-spacing: .125em;
}

.cvTables{
  margin-block-end: 2em;
  text-align: left;
  vertical-align: top;
}

.cvYears{
  text-align: left;
  vertical-align: top;
  width: 80px;
}

a:link {
  text-decoration: none;
  color: rgb(254, 204, 47);
}

a:visited {
  text-decoration: none;
  color: rgb(254, 204, 47);
}

a:hover {
  text-decoration: underline;
  color: rgb(151, 20, 151);
}

a:active {
  text-decoration: underline;
  color: rgb(223,223,223);
}

.purpleh2{
  color: rgb(151, 20, 151);
  text-shadow: -.0623em .0623em 0 rgb(254, 204, 47);
  letter-spacing: .125em;
}


.purpleh1{
  color: rgb(151, 20, 151);
  text-shadow: -.0624em .0624em 0 rgb(254, 204, 47);
  letter-spacing: .1em;
}


/* styles for slideshow */

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
  position:relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  margin-top: 10px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-show-images{
  max-height: 600px;
  object-fit: scale-down;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






/* styles for menu */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}




  /* Modals */

  .myImages {
    cursor: pointer;
    transition: 0.3s;
    width: 30%;
    margin: 1.66%;
  }

  .myImages:hover {
    opacity: 0.7;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* media queries */

/* for slideshow on homepage */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 450px) {
  .prev, .next,.text {font-size: 11px}
  .slide-show-images{
    height: auto;
  }
}


/* for nav */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* for modal images */

  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .myImages{
      width: 90%;
      margin: 1.66% Auto;
    }
  }
