.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #15C919; 
  overflow-x: hidden; 
  padding-top: 20px;
  font-family: Helvetica;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
header {
    width: 1100px;
    height: 75px;
    border: 2px solid gray;
    padding:10px;
    margin:22px;
    float: right;
    background-color: #F1F80C;
    font-family: Helvetica;
    font-size: "30";
    text-align:center;
}

main{
    width: 1100px;
    height: 700px;
    border: 2px solid gray;
    padding:10px;
    margin:22px;
    float: right;
}
body {
    background-color:whitesmoke;
}
.yeah{
    display:inline-block;
}
.image1 { 
   position: relative; 
       float: left;
    
}
.image2 { 
   position: relative; 
       float: left;
}
.image3 { 
   position: relative; 
       float: left;
}
.image4 { 
   position: relative; 
       float: left;
}


h2 { 
    font-family:Geneva;
   padding-top:125px;
   position: absolute; 
   top: 30px; 
   left: 0; 
   width: 100%; 
   text-align:center;
    color:floralwhite;
}