.menu{
    width:100%;
    background:black;
    overflow:auto;
    opacity:0.9;
    position:static;
    top:0;
}
.menu ul{
    margin:0px;
    padding:0;
    list-style:none;
    line-height:60px;    
}
.menu li{
    float:left;
}
.menu ul li a{
    background:black;
    text-decoration:none;
    width:150px;
    display:block;
    text-align:center;
    color:#f2f2f2;
    font-size:15px;
    font-family:sans-serif;
    margin: 0px 25px;
}
.menu li a:hover {
    color:#fff;
    opacity:0.5;
    font-size:16px;
}
.search-form{
    float:right;
    margin: 15px 80px ;
}
input[type=text]{
    padding:7px;
    border:none;
    font-size:16px;
    font-family:sans-serif;
}
button{
    float:right;
    background:#A9A9A9;
    color:white;
    border-radius:0 5px 5px 0;
    cursor:pointer;
    position:relative;
    padding:7px;
    font-family:sans-serif;
    border:none;
    font-size:15px;
}

