.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    align-content: center;
    margin: auto;
    padding: 10px;
}
.profile-pic {
    margin: 0 auto;
    margin-left: 0%; 
    height: 100%;
    width: auto;

}

.kitts {
  margin: auto;
  width: 50%;
  
}
.cafe {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.wiki {
  margin: auto;
  width: 50%;
  padding: 10px;
}
